<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caio fastfood</title>
    <link href="/css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-zinc-100">

    <div class="flex justify-center flex-col w-250 m-auto h-screen shadow-md rounded-2xl bg-white">
        <%- body %>
    </div>
    
</body>
</html>