<select name="" id="">
    <% for(let i=0;i<listaBacon.length;i++) { %>
        <option value=""><%= listaBacon[i].nome %></option>
    <%}%>
</select>

<select name="" id="">
    <% for(let i=0;i<listaCarnes.length;i++) { %>
        <option value=""><%= listaCarnes[i].nome %></option>
    <%}%>
</select>