<div class="text-center">
    <h1 class="text-4xl font-fastfood">Caio fast<a href="/admin" class="text-indigo-500">food</a> </h1>
    <p class="font-primary mt-2 text-lg">Bem-vindo(a) ao seu cardapio virtual!</p>

    <div class="mt-5 flex flex-row gap-10 justify-center">
        <a href="" class="shadow-sm p-3 rounded-md text-center text-indigo-500 font-primary w-40 hover:bg-zinc-50 duration-200 ease-in-out hover:scale-103">
            <i class="fas fa-book-open"></i>
            <span>Ver cardápio</span>
        </a>

        <a href="/pedir" class="shadow-sm p-3 rounded-md text-center text-indigo-500 font-primary w-40 hover:bg-zinc-50 duration-200 ease-in-out hover:scale-103">
            <i class="fas fa-hamburger"></i>
            <span>Pedir lanche</span>
        </a>
    </div>
</div>