<div class="font-primary">
    <h1 class="text-4xl font-fastfood text-center">Caio fast<span class="text-indigo-500">food</span></h1>
    <div class="flex justify-center gap-5">
        <p class="text-center text-md">Pedidos em <span class="text-indigo-500">preparação</span></p>
        <span>/</span>
        <a href="/admin/montar">Montar lanche <span class="text-indigo-500">personalizado</span></a>
    </div>

    <div class="h-150 p-5 flex flex-row flex-wrap justify-center gap-5  overflow-y-auto shadow-sm mt-10">
        
        <div class="bg-zinc-100 h-35 w-70 rounded-md shadow-sm p-2">
            <div class="flex flex-rol items-center justify-between">
                <p>Caio Nóbile <span>/ Mesa <strong>01</strong></span></p>
                <div class="w-2 h-2 rounded-full bg-amber-300"></div>
            </div>

            <div class="h-25 overflow-y-auto">
                <p>1 / X - SALADA</p>
                <p>2 / X - BACON</p>
                <p>1 / X - X20</p>
                <p>1 / X - BAGUNCINHA</p>
            </div>
        </div>

        <div class="bg-zinc-100 h-35 w-70 rounded-md shadow-sm p-2">
            <div class="flex flex-rol items-center justify-between">
                <p>Caio Nóbile <span>/ Mesa <strong>01</strong></span></p>
                <div class="w-2 h-2 rounded-full bg-amber-300"></div>
            </div>

            <div class="h-25 overflow-y-auto">
                <p>1 / X - SALADA</p>
                <p>2 / X - BACON</p>
                <p>1 / X - X20</p>
                <p>1 / X - BAGUNCINHA</p>
            </div>
        </div>

        <div class="bg-zinc-100 h-35 w-70 rounded-md shadow-sm p-2">
            <div class="flex flex-rol items-center justify-between">
                <p>Caio Nóbile <span>/ Mesa <strong>01</strong></span></p>
                <div class="w-2 h-2 rounded-full bg-amber-300"></div>
            </div>

            <div class="h-25 overflow-y-auto">
                <p>1 / X - SALADA</p>
                <p>2 / X - BACON</p>
                <p>1 / X - X20</p>
                <p>1 / X - BAGUNCINHA</p>
            </div>
        </div>

        <div class="bg-zinc-100 h-35 w-70 rounded-md shadow-sm p-2">
            <div class="flex flex-rol items-center justify-between">
                <p>Caio Nóbile <span>/ Mesa <strong>01</strong></span></p>
                <div class="w-2 h-2 rounded-full bg-amber-300"></div>
            </div>

            <div class="h-25 overflow-y-auto">
                <p>1 / X - SALADA</p>
                <p>2 / X - BACON</p>
                <p>1 / X - X20</p>
                <p>1 / X - BAGUNCINHA</p>
            </div>
        </div>
    </div>
</div>